/* global CSS rules */
*{
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}

/* styling for navbar */
.navbar{
  height: 9vh;
  background-color:#2c3838;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 30px;
}
.Select{
  margin-right:30px;
}


/* styling for code editor Component */
.editor-comp{
  background-color: #2c3838;
  height: 91vh;
}
/* .editor-area{
  margin-top: 30px;
} */
.buttons-area{

}
